.failures {
  // background: lightblue;
  // margin: 0 auto;
  margin-top: 400px;
  padding: 0 35px;
  padding-bottom: 150px;
  @include tablet {
    padding: 0 45px;
    padding-bottom: 130px;
  }
  @include desktop {
    margin-top: 300px;
    padding: 0 200px;
    padding-bottom: 130px;
  }

  & .feature-wrapper {
    // background: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    @include tablet {
      justify-content: flex-start;
      width: 930px;
    }
    @include desktop {
      justify-content: flex-start;
      width: 930px;
    }
  }
}

