.fail-feature {
  border: 1px solid rgba(153,149,157,.4);
  border-radius: 5px;
  height: 210px;
  margin-bottom: 20px;
  padding: 25px;
  width: 344px;
  @include tablet {
    margin-right: 20px;
    width: 330px;
  }
  @include desktop {
    width: 290px;
  }
}

.fail-feature-heading {
  color: $purple;
  font-family: $gilroy-sb;
  font-size: 18px;
  margin-top: 25px;
}

.fail-feature-p {
  color: $purple;
  font-family: $gilroy-md;
  font-size: 15px;
  margin-top: 7px;
}

.fail-svg {
  height: 31px;
  width: 31px;
}