.features {
  background: #deeaea;
  padding: 0 10px;
  @include mobile {
    padding: 0 $mg-mobile;
  }
  @include tablet {
    padding: 0 $mg-tablet;
  }
  @include laptop {
    padding: 0 $mg-laptop;
  }
  @include desktop {
    padding: 0 $mg-desktop;
  }
  // margin-top: 50px;
  // margin-left: -300px;
  // padding: 200px 35px;
  // @include tablet {
  //   padding: 200px 45px;
  // }
  // @include desktop {
  //   padding: 200px;
  // }
}

.features-wrapper {
  background: lightgreen;
  // margin-left: -200px;
  // padding: 200px 0;
  // padding-right: 200px;
}

.heading-wrapper {
  align-items: flex-start;
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding-left: 10px;
  // padding-right: 10px;
  padding-bottom: 50px;
  padding-top: 170px;
  // width: 100%;
  @include mobile {
    // padding-left: $mg-mobile;
    // padding-right: $mg-mobile;
    // width: $bp-mobile;
  }
  @include tablet {
    // padding-left: $mg-tablet;
    // padding-right: $mg-tablet;
    // width: $bp-tablet;
  }
  @include laptop {
    // padding-left: $mg-laptop;
    // padding-right: $mg-laptop;
    // width: $bp-laptop;
    align-items: center;
    flex-direction: row;
  }
  @include desktop {
    
    // width: $bp-desktop;
    // padding-left: $mg-desktop;
    // padding-right: $mg-desktop;
  }
}

.subheading-wrapper {
  // background: yellow;
  display: flex;
  font-family: $gilroy-sb;
  font-size: 22px;
  margin-top: 40px;
  @include laptop {
    margin-top: 0;
  }

  & > p {
    margin-right: 20px;
  }
}

.divider {
  background: #c4d5d5;
  height: 3px;
  margin-bottom: 65px;
  // margin-left: 35px;
  // margin-right: 35px;
  // margin-top: 30px;
  @include tablet {
    // margin-left: 45px;
    // margin-right: 45px;
  }
  @include desktop {
    // margin-left: 200px;
    // margin-right: 200px;
    margin-top: 55px;
  }
}