.features {
  background: #deeaea;
  // margin: 0 auto;
  // width: 100%;
}

.features-wrapper {
  // background: lightgreen;
  margin: 0;
  // padding: 0 10px;
  // width: 100%;
  @include mobile {
    // padding: 0 $mg-mobile;
  }
  @include tablet {
    // padding: 0 $mg-tablet;
  }
  @include laptop {
    // padding: 0 $mg-laptop;
  }
  @include desktop {
    // padding: 0 auto;
    // width: $bp-desktop;
  }
}
.features-wrapper-2 {
  // background: pink;
  
  
  padding: 0 10px;
  @include mobile {
    padding: 0 $mg-mobile;
  }
  @include tablet {
    padding: 0 $mg-tablet;
  }
  @include laptop {
    // display: flex;
    // justify-content: space-between;
    // padding: 0 $mg-laptop;
    // width: $bp-laptop;
  }
  @include desktop {
    // margin: 0 auto;
    // margin: 0 auto;
    width: $bp-desktop;
  }
}

.heading-wrapper {
  align-items: flex-start;
  // background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
  padding-bottom: 30px;
  padding-top: 170px;

  @include mobile {
    margin: 0 $mg-mobile;
    // width: $bp-mobile;
  }
  @include tablet {
    margin: 0 $mg-tablet;
    // width: $bp-tablet;
  }
  @include laptop {
    margin: 0 $mg-laptop;
    align-items: center;
    flex-direction: row;
    // width: $bp-laptop;
  }
  @include desktop {
    margin: 0 auto;
    width: $bp-desktop;
  }
}

.subheading-wrapper {
  // background: yellow;
  display: flex;
  font-family: $gilroy-sb;
  font-size: 22px;
  margin-top: 40px;
  @include laptop {
    margin-top: 0;
  }

  & > p {
    margin-right: 20px;
  }
}

.divider {
  background: #c4d5d5;
  height: 3px;
  margin: 0 10px;
  // margin-top: 30px;
  margin-bottom: 160px;
  // width: 90%;
  @include mobile {
    margin: 0 $mg-mobile;
    margin-bottom: 160px;
    // width: $bp-mobile;
  }
  @include tablet {
    margin: 0 $mg-tablet;
    margin-bottom: 160px;
  }
  @include laptop {
    margin: 0 $mg-laptop;
  }
  @include desktop {
    margin: 0 auto;
    width: $bp-desktop;
  }
}