.header {
  align-items: center;
  // background: lightblue;
  box-shadow: 0px 10px 10px -10px #0000000D;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  @include mobile {
    padding: 0 $mg-mobile;
    width: $bp-mobile;
  }
  @include tablet {
    box-shadow: none;
    padding: 0 $mg-tablet;
    width: $bp-tablet;
  }
  @include laptop {
    padding: 0 $mg-laptop;
    width: $bp-laptop;
  }
  @include desktop {
    margin-top: 20px;
    padding: 0 70px;
    width: $bp-desktop;
  }

  .logo {
    height: 45px;
    @include tablet {
      height: 52px;
    }
    @include desktop {
      height: 76px;
    }
  }
}

.nav-links {
  align-items: center;
  display: flex;
  list-style-type: none;
  
  & > * {
    color: $purple;
    font-family: $gilroy-md;
    font-size: 18px;
  }

  :nth-child(1), :nth-child(2) {
    display: none;
    @include tablet {
      border-bottom: 2px solid #fff;
      display: inline-block;
      margin-right: 40px;
      padding: 3px 0;
      transition: border 250ms ease-in-out;

      &:hover {
        border-bottom: 2px solid $teal;
      }
    }
  }
}

.cta-2 {
  background: #fff;
  border: 2px solid $purple;
  border-radius: 10px;
  color: $purple;
  padding: 13px 25px;
  transition: all 250ms ease-in-out;

  &:hover {
    background: $purple;
    color: #fff;
  }
}