// .container {
//   background: green;
//   overflow: hidden;
//   margin: 0 auto;
//   position: relative;
//   // width: 90%;
//   @include mobile {
//     width: $bp-mobile;
//   }
//   @include tablet {
//     width: $bp-tablet;
//   }
//   @include laptop {
//     width: $bp-laptop;
//   }
//   @include desktop {
//     width: $bp-desktop;
//   }
// }

.container {
  // background: coral;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  // width: 100%;
}