.container {
  overflow: hidden;
  height: auto;
  margin: 0 auto;
  
  position: relative;
  width: 100%;
  @include tablet {
    width: $bp-tablet;
  }
  @include desktop {
    width: $bp-desktop;
  }
}