.testimonial {
  align-items: center;
  background: #fcedca;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 150px 10px;
  position: relative;
  @include mobile {
    padding: 150px $mg-mobile;
  }
  @include tablet {
    padding: 150px $mg-tablet;
  }
  @include laptop {
    flex-direction: row;
    padding: 150px $mg-laptop;
  }
  @include desktop {
    padding: 150px $mg-desktop;
  }

  & .testimonial-content {
    // background: lightgreen;
  }
  & .testimonial-content > * {
    color: $purple;
    // margin-left: 85px;
    // width: 420px;
  }
  & .testimonial-title {
    font-family: $cooper-md;
    // font-size: 25px;
  }
  & .testimonial-subtitle {
    color: rgba(59, 51, 67, .8);
    font-family: $gilroy-md;
    // font-size: 18px;
    margin-top: 5px;
  }
  & .testimonial-description {
    font-family: $gilroy-sb;
    // font-size: 25px;
    line-height: 1.5;
    margin-top: 45px;
    // width: 344px;
    @include tablet {
      width: 563px;
    }
    @include laptop {
      width: 420px;
    }
  }

  & .testimonial-img-wrapper {
    // background: coral;
    position: relative;
  }
  & .img-person {
    height: auto;
    margin-bottom: 80px;
    // position: relative;
    width: 225px;
    @include mobile {
      width: 327px;
    }
    @include laptop {
      margin-bottom: 0;
      margin-right: 170px;
      height: 538px;
      width: 550px;
    }
  }
  & .img-accent {
    height: 43px;
    position: absolute;
    left: -20px;
    top: -10px;
    width: 31px;
    @include mobile {
      left: -15px;
      top: 10px;
    }
    @include tablet {
      left: -30px;
      height: 66px; 
      width: 39px;
      top: 0;
    }
    @include laptop {
      left: -20px;
      height: 77px;
      top: 8px;
      width: 46px;
    }
  }
}