.testimonial {
  align-items: center;
  background: #fcedca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 0;
  position: relative;
  @include desktop {
    flex-direction: row;
  }

  & .testimonial-content > * {
    color: $purple;
    // margin-left: 85px;
    width: 420px;
  }
  & .testimonial-title {
    font-family: $cooper-md;
    // font-size: 25px;
  }
  & .testimonial-subtitle {
    color: rgba(59, 51, 67, .8);
    font-family: $gilroy-md;
    // font-size: 18px;
    margin-top: 5px;
  }
  & .testimonial-description {
    font-family: $gilroy-sb;
    // font-size: 25px;
    line-height: 1.5;
    margin-top: 45px;
    width: 344px;
    @include tablet {
      width: 563px;
    }
    @include desktop {
      width: 420px;
    }
  }

  & .testimonial-img-wrapper {
    position: relative;
  }
  & .img-person {
    height: 320px;
    margin-bottom: 80px;
    // position: relative;
    width: 327px;
    @include desktop {
      margin-right: 170px;
      height: 538px;
      width: 550px;
    }
  }
  & .img-accent {
    height: 43px;
    position: absolute;
    left: -15px;
    top: 12px;
    width: 31px;
    @include tablet {
      left: -30px;
      height: 66px; 
      width: 39px;
      top: 0;
    }
    @include desktop {
      left: -20px;
      height: 77px;
      top: 8px;
      width: 46px;
    }
  }
}