.tooth {
  height: 265px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 637px;
  width: 222px;
  @include tablet {
    top: 733px;
  }
  @include desktop {
    left: 148px;
    margin: 0;
    top: 581px;
  }
}